extends layout

block content
	.container
		.row
			.Absolute-Center.is-Responsive
				.account-box
					h2.center.boxtitle
						| Iniciar sesión
					form.form-signin(action='/login')
						.form-group
							input.form-control(type='text', placeholder='Email', required='', autofocus='')
						.form-group
							input.form-control(type='password', placeholder='Contraseña', required='')
						button.btn.btn-success.btn-block(type='submit')
							| Entrar
					.or-box
						.row
							.col-md-12.row-block
								a.btn.btn-primary.btn-block(href='http://www.jquery2dotnet.com') Regístrate