extends layout

block content
	script(src='/scripts/login.js')
	.container
		.row
			.Absolute-Center.is-Responsive
				.account-box
					h2.center.boxtitle
						| Iniciar sesión
					form#loginForm.form-signin(action='/login')
						.form-group
							input#user.form-control(type='text', placeholder='Usuario', required='', autofocus='')
						.form-group
							input#password.form-control(type='password', placeholder='Contraseña', required='')
						button.btn.btn-success.btn-block(type='submit')
							| Entrar
					.or-box
						.row
							.col-md-12.row-block
								a.btn.btn-primary.btn-block Regístrate